<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- <context:annotation-config/> -->
	
	<!-- <bean id="baseDao" class="com.liu.springannotation.obj.BaseDao"/> -->
	
	<!-- <bean id="baseService" class="com.liu.springannotation.obj.BaseService"/> -->
	
	<bean class="com.liu.springannotation.ApplicationContextHolder" />
	
	<context:component-scan base-package="com.liu.springannotation"/>
	
	<context:property-placeholder ignore-unresolvable="true" 
								  location="classpath:/jdbc.properties,classpath:/jdbc2.properties" />

</beans>
